.hero {
    background-image: url("../images/weatherbanner.png");
    background-size:cover;
    background-position: center;
}

#hero {
    font-family: cursive;
    text-align: center;
    color: rgb(54, 54, 102);
    background-color: rgba(253, 254, 255, 0.623);
}

.subtitle {
    text-align: center;
}

#search {
    background-color: rgba(250, 159, 98, 0.856);
}

#weather {
    text-align: center;
    background-color: rgba(32, 39, 133, 0.884);
    color: white;
}

#music {
    text-align: center;
    background-color: rgba(110, 180, 245, 0.801);
}

#history {
    text-align: center;
    background-color: rgba(175, 213, 248, 0.801);
}

.title {
    color: white;
}